/* Laptop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
	.access-img-2 img {
		margin-right: 0;
		margin-left: -148px;
	}

}


/* Normal desktop (LG) :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
	.main-menu ul li {
		margin: 0 9px;
	}

	.access-img img {
		margin-left: 0;
	}

	.testimonial-img img {
		margin-left: 0;
	}

	.footer-bg {
		background-size: cover;
	}

	.header-btn a {
		margin-left: 0;
	}

	.access-img img {
		margin-left: -68px;
	}

}


/* Tablet desktop (MD) :768px. */
@media (min-width: 768px) and (max-width: 991px) {
	.footer-bg {
		background-size: cover;
	}

	.header-btn a {
		padding: 10px 3px;
		margin-left: 0px;
	}

}


/* small mobile (XS) :320px. */
@media (max-width: 767px) {
	.footer-bg {
		background-size: cover;
	}

	.logo {
		text-align: center;
		padding: 20px;
	}

	.main-menu.text-right {
		text-align: center !important;
	}

}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {}